<!DOCTYPE html>
<html>
	<head>
		<title>Scarlett's Art</title>
		<link rel="shortcut icon" type="image" href="images/favicon_s.ico">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--<link rel="stylesheet" href="assets/css/ie8.css" />-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body>

		 <!--Header -->
			<header id="header">
				<h1>Scarlett's Art</h1>
				<nav>
					<ul>
						<li><a href="#intro">Intro</a></li>
						<li><a href="#one">What I Do</a></li>
						<li><a href="#two">About Me</a></li>
						<li><a href="#work">My Artwork</a></li>
						<li><a href="#form_radio_buttons">Form</a></li>
						<li><a href="#contact">Contact</a></li>
					</ul>
				</nav>
			</header>

		 <!--Intro -->
			<section id="intro" class="main style1 dark fullscreen">
				<div class="content">
					<header>
						<h2>Why Hello There!</h2>
					</header>
					<!--<strong></strong> makes the word bold-->
					<p>Welcome to Scarlett's web app that she made herself. Scroll down to take a look at what she created! <a href="http://bit.ly/scarlettstapeshop_etsy"><font color="yellow">Scarlett's Tape Shop</font></a> on Etsy</p>
					<footer>
						<a href="#one" class="button style2 down">More</a>
					</footer>
				</div>
			</section>

		 <!--One -->
			<section id="one" class="main style2 right dark fullscreen">
				<div class="content box style2">
					<header>
						<h2>What I Do</h2>
					</header>
					<p>I make duck tape products that I then sell on Etsy (and I have now expanded to other art!!!) It all started in fifth grade when we had to pick a passion to work on for a few weeks. I've bought so many duck tape rolls that I can't even count how many! I try to make products that people will want, if you have any suggestions then tell me in the contact section below! </p>
				</div>
				<a href="#two" class="button style2 down anchored">Next</a>
			</section>

		 <!--Two -->
			<section id="two" class="main style2 left dark fullscreen">
				<div class="content box style2">
					<header>
						<h2>About Me</h2>
					</header>
					<p>Hey! My name is Scarlett and I'm a junior. I play cello and run cross country and track. I'm a huge nerd, especially for Marvel, Harry Potter, and Star Wars. I have two dogs and a kitten, Ruby, Jojo, and Piper. I love coding and I want to major in comp sci, cybersecurity, or forensics in college.</p>
				</div>
				<a href="#work" class="button style2 down anchored">Next</a>
			</section>

		 <!--Work -->
			<section id="work" class="main style3 primary">
				<div class="content">
					<header>
						<h2><font color="white">My Artwork</font></h2>
						<p><font color="white">I have many products listed on Etsy. I have <a href="http://bit.ly/rose_pen_listing">Rose Pens</a>, <a href="http://bit.ly/pastel_rose_pen">Pastel Rose Pens</a>, <a href="http://bit.ly/custom_toms">Custom Toms</a>, <a href="http://bit.ly/wallet_s">Wallets</a>, <a href="http://bit.ly/regular_bookmarks">Regular Bookmarks</a>, <a href="http://bit.ly/bookmarks_with_bows">Bookmarks with Bows</a>, <a href="http://bit.ly/holiday_bows">Holiday Bows</a>, 
						//ADD BUCKET HAT
						<!--work on this part, getting an image to link to a hyperlink -->
					</header>

					 <!--Gallery -->
						<div class="gallery">
							<article class="from-left">
								<a href="images/etsy_pics/rose_pen.png" class="image fit"><img src="images/etsy_pics/rose_pen.png" title="Rose Pens" alt="" /></a>
							</article>
							<article class="from-right">
								<a href="images/etsy_pics/pastel_rose_pen.png" class="image fit"><img src="images/etsy_pics/pastel_rose_pen.png" title="Pastel Rose Pens" alt="" /></a>
							</article>
							<article class="from-left">
								<a href="images/etsy_pics/toms.png" class="image fit"><img src="images/etsy_pics/toms.png" title="Custom Toms" alt="" /></a>
							</article>
							<article class="from-right">
								<a href="images/etsy_pics/wallet.png" class="image fit"><img src="images/etsy_pics/wallet.png" title="Wallets" alt="" /></a>
							</article>
							<article class="from-left">
								<a href="images/etsy_pics/bookmarks_no_bow.png" class="image fit"><img src="images/etsy_pics/bookmarks_no_bow.png" title="Regular Bookmarks" alt="" /></a>
							</article>
							<article class="from-right">
								<a href="images/etsy_pics/bookmarks_bow.png" class="image fit"><img src="images/etsy_pics/bookmarks_bow.png" title="Bookmarks with Bows" alt="" /></a>
							</article>
							<article class="from-left">
								<a href="images/etsy_pics/bows.png" class="image fit"><img src="images/etsy_pics/bows.png" title="Holiday Bows" alt="" /></a>
							</article>
						</div>

				</div>
			</section>
			
		 <!--Form w/ radio buttons -->
			<section id="form_radio_buttons" class="main style2 right dark fullscreen">
				<div class="content box style2">
					<header>
						<h2>What would you buy?</h2>
						<form action="/results" method="POST">
							<input type="radio" name="item" value="Rose Pen" id="item"><label for="item">Rose Pen</label>
							<input type="radio" name="item" value="Pastel Rose Pen" id="item"><label for="item">Pastel Rose Pen</label>
							<input type="radio" name="item" value="Custom Toms" id="item"><label for="item">Custom Toms</label>
							<input type="radio" name="item" value="Wallet" id="item"><label for="item">Wallet</label>
							<input type="radio" name="item" value="Regular Bookmark" id="item"><label for="item">Regular Bookmark</label>
							<input type="radio" name="item" value="Bookmark with Bow" id="item"><label for="item">Bookmark with Bow</label>
							<input type="radio" name="item" value="Holiday Bow" id="item"><label for="item">Holiday Bow</label>
							<input class='btn btn-primary' type='submit' value='Submit'>
						</form>
					</header>
				</div>
				<a href="#contact" class="button style2 down anchored">Next</a>
			</section>
			
		 <!--Contact -->
			<section id="contact" class="main style3 secondary">
				<div class="content">
					<header><font color="azure">
						<h2>Say Hello!</h2>
						<p>Make suggestions and contact Scarlett here!</p>
					</font></header>
					<div class="box">
						<form action="https://formspree.io/scarwars@kidfrog.com" method="POST">
							<div class="field half first"><input type="text" name="name" placeholder="Name" /></div>
							<div class="field half"><input type="email" name="email" placeholder="Email" /></div>
							<div class="field"><textarea name="message" placeholder="Message" rows="6"></textarea></div>
							<ul class="actions">
								<li><input type="submit" value="Send Message" /></li>
							</ul>
						</form>
					</div>
				</div>
			</section>

		 <!--Footer -->
			<footer id="footer">

				 <!--Icons -->
					<ul class="actions">
						<!-- <li><a href="bit.ly/scarlettstapeshop_etsy" class="icon fa-etsy"><span class="label">Etsy</span></a></li> -->
						<li><i class="fab fa-etsy"><a href="bit.ly/scarlettstapeshop_etsy"></a></i></li>
					</ul>

				 <!--Menu -->
					<ul class="menu">
  							<!--<i class="fab fa-etsy"><a href="bit.ly/scarlettstapeshop_etsy"></a></i>-->
						<li>&copy; Scarlett's Art 2020</li><li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
					</ul>

			</footer>

		 <!--Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.poptrox.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/ie/respond.min.js"></script>
			<script src="assets/js/main.js"></script>
			<!--need to download fontawesome version 5.0.4-->
			<!--<script defer src="/static/fontawesome/fontawesome-all.js"></script>--> 

	</body>
</html>


